<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		 <!-- Required meta tags for Bootstrap-->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<!-- Bootstrap CSS -->
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		
		
		<title>Customer Notebook</title>
	</head>
	
	<body>
	
		<div class="container">
			<h3>Customer Notebook</h3>
			<hr><hr>
			
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Gender</th>
						<th>Height</th>
						<th>Weight</th>
						<th>Had Cancer</th>
						<th>Had Heart Attack</th>
						<th>Is Diabetic</th>
						<th>Cost</th>
					</tr>
				</thead>
				
				<tbody>
					<!-- customers'ı CUSTOMERCONTROLLER'DAN GÖNDERME İŞLEMİNİ UNUTMA -->
					<tr th:each="tempCustomer : ${customers}">
						
						<td th:text="${tempCustomer.firstName}"></td>
						<td th:text="${tempCustomer.lastName}"></td>
						<td th:text="${tempCustomer.gender}"></td>
						<td th:text="${tempCustomer.height}"></td>
						<td th:text="${tempCustomer.weight}"></td>
						<td th:text="${tempCustomer.hadCancer}"></td>
						<td th:text="${tempCustomer.hadHeartAttack}"></td>
						<td th:text="${tempCustomer.isDiabetic}"></td>
						<td th:text="${tempCustomer.cost}"></td>				
					
					</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>